In [34]:
import numpy as np
import pandas as pd
from query import *

In [35]:
queries = pd.read_csv('queries.csv', delimiter=' ')

In [36]:
# IP address of the user we want to analyze
IP_ADDRESS = "146.71.112.211"
# Get all queries of user X
user_x = queries[queries["ip_address"]==IP_ADDRESS]
user_x.reset_index(inplace=True, drop=True)
user_x.head()

       ip_address        lat       lon  timestamp poi_type_query
0  146.71.112.211  46.535919  6.575488  12.359021      cafeteria
1  146.71.112.211  46.535919  6.575488  12.359021     restaurant
2  146.71.112.211  46.530865  6.623209  20.582840           dojo
3  146.71.112.211  46.530865  6.623209  20.582840    supermarket
4  146.71.112.211  46.535919  6.575488  36.820257      cafeteria

In [37]:
for index, row in user_x.iterrows():
    loc = np.array([row["lat"], row["lon"]])
    poi_type = row["poi_type_query"]
    nearby_pois = get_nearby_pois(loc, poi_type)
    print(nearby_pois)

[1008, 274, 571]
[1045, 514, 1046]
[853, 391, 409, 834, 1005]
[475, 572, 678]
[1008, 274, 571]
[1045, 514, 1046]
[539, 791, 1041, 423, 965]
[853, 391, 409, 834, 1005]
[475, 728, 572, 678]
[706, 817, 1003]
[1008, 274, 571]
[1045, 514, 1046]
[853, 391, 409, 834, 1005]
[539, 791, 1041, 423, 965]
[853, 834]
[920, 1034, 791, 1041, 590, 965]
[1008, 274, 571]
[1045, 514, 1046]
[706, 817, 1003, 890]
[475, 572, 678]
[475, 572, 678, 1006]
[853, 409, 553, 834, 1005]
[1008, 274, 571]
[1045, 514, 1046]
[853, 391, 409, 834, 1005]
[539, 791, 1041, 423, 965]
[853, 834]
[475, 728, 572, 678]
[539, 791, 1041, 423, 965]
[475, 728, 572, 678]
[395, 525, 624, 975]
[539, 791, 1041, 423, 965]
[853, 834]
[1008, 274, 571]
[1045, 514, 1046]
[539, 791, 1041, 423, 965]
[853, 391, 409, 834, 1005]
[706, 817, 1003]
[475, 728, 572, 678]
[1008, 274, 571]
[1045, 514, 1046]
[539, 791, 1041, 423, 965]
[475, 572, 678]
[853, 834]
[706, 817, 1003]
[1008, 274, 571]
[1045, 514, 1046]
[475, 572, 678]
[539, 791, 1041, 423, 965]
[706, 817, 1003]
[475, 728, 572, 678]
[1008, 274, 571]
[1045, 514, 1046]
[706, 817, 1003, 890]
[853, 391, 409, 834, 1005]
[475, 572, 678, 1006]
[1041, 590, 965]
[1008, 274, 571]
[1045, 514, 1046]
[853, 391, 409, 834, 1005]
[706, 817, 1003, 890]
[475, 572, 678, 1006]
[1041, 590, 965]
[539, 791, 1041, 423, 965]
[706, 817, 1003]
[475, 572, 678, 1006]
[475, 572, 678]
[543, 407, 515, 395, 525]
[549, 836, 838, 413]
[1008, 274, 571]
[1045, 514, 1046]
[475, 572, 678]
[539, 791, 1041, 423, 965]
[853, 834]
[706, 817, 1003]
[1008, 274, 571]
[1045, 514, 1046]
[706, 817, 1003, 890]
[475, 572, 678]
[1041, 590, 965]
[706, 817, 1003]
[1008, 274, 571]
[1045, 514, 1046]
[706, 817, 1003, 890]
[853, 391, 409, 834, 1005]
[706, 817, 1003]
[475, 572, 678, 1006]
[1008, 274, 571]
[1045, 514, 1046]
[706, 817, 1003, 890]
[539, 791, 1041, 423, 965]
[706, 817, 1003]
[475, 728, 572, 678]
[1008, 274, 571]
[1045, 514, 1046]
[475, 572, 678]
[539, 791, 1041, 423, 965]
[920, 1034, 791, 1041, 590, 965]
[706, 817, 1003]
[539, 791, 1041, 423, 965]
[475, 728, 572, 678]
[308, 663, 729, 862, 995]
[338, 325, 336, 497, 1054, 1028, 1031]